*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

ul, li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1, h2, h3 {
    font-weight: inherit;  
    font-size: inherit;
}

html, body {
    height: 100%;
    line-height: 1;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-weight: 500;

}

.wrapper {
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
._ibg{
    position: relative;
}
._ibg img{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
}
.container{
    max-width: 1046px;
    margin: 0 auto;
    padding: 0 15px;
    box-sizing: content-box;
}
/*===========HEADER==================================================================================================================*/
.header{
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 100;
}
.headerContainer{
    display: flex;
    min-height: 104px;
    align-items: center;
}
.headerLogo{
    font-size: 24px;
    font-weight: 700;
}
.headerMenu{
    margin: 0px 0px 0px 450px;
}
@media(max-width: 926px){
    .headerMenu{
        margin: 0px 0px 0px 150px;
    }
}
@media(max-width: 444px){
    .headerMenu{
        margin: 0px 0px 0px 20px;
    }
}
.menu{
    padding: 5px 0;
}
.menuList{
    display: flex;
    flex-wrap: wrap;
}
/*.menuItem{

}*/
.menuItem:not(:last-child){
    margin: 0px 21px 0px 0px;
}
.menuLink{
    color: #737373;
    font-weight: 600;
    line-height: 171%;
}
@media (max-width: 444px){
    .menuLink{
        font-size: 16px;
    }
}
/*===========PAGE==================================================================================================================*/
.page{
    flex: 1 1 auto;
    position: relative;
    z-index: 2;
}
.pageMainBlock{
    position: relative;/*либо mainBlock*/
}
.pageServices {
    color: black;
    position: relative;
    z-index: 2;
    margin: -111px 0px 0px 0px;
}
/*===========MAIN==================================================================================================================*/
/*.mainBlock{
 
}
.mainBlockContainer{

}*/
.mainBlockBody{
    padding: 184px 0px 191px 0px;
    position: relative;
    z-index: 2;
    max-width: 400px;
}
@media(max-width: 625px){
    .mainBlockBody{
        margin: auto;
    }
}
@media(max-width: 500px){
    .mainBlockBody{
        padding: 150px 0 191px 0;
    }
}
.mainBlockBody > *:not(:last-child){
    margin: 0px 0px 35px 0px;
}
.mainBlockTitle{
    font-size: 58px;
    line-height: 137%;
    font-weight: 800;
    letter-spacing: 0.2px;
}
@media(max-width: 405px){
    .mainBlockTitle{
        font-size: 40px;
    }
}
.mainBlockText{
    color: #737373;
    font-size: 20px;
    line-height: 150%;
}
.mainBlockButtons{
    display: inline-flex;
    flex-wrap: wrap;
}
.button{
    border-radius: 37px;
    display: flex;
    min-height: 48px;
    justify-content: center;
    text-align: center;
    align-items: center;
    letter-spacing: 0.2px;
    font-weight: 700;
    line-height: 150%;
    padding: 5px 36px;
    margin: 10px 0;
}
@media(max-width: 479px){
    .button{
        flex: 1 1 100%;
    }
}
@media(min-width: 479px){
    .button:not(:last-child){
        margin-right: 10px;
    }
}
.buttonOrange{
    background: #ff7b47;
    color: #fff;
}
.buttonBorder{
    color: #0d5c63;
    border: 1px solid #0d5c63;
}
.mainBlockImage{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
@media (max-width: 1300px) {
    .mainBlockImage img{
        object-position: right;
    }
    
}
@media (max-width: 625px){
    .mainBlockImage img{
        object-position: center;
    }
}
/*===========SERVICES==================================================================================================================*/

/*.services {
}
.servicesContainer {
}
.servicesBody {

}*/
@media(min-width: 670px){
    .servicesBody{
        display: flex;
        flex-wrap: wrap;
        margin: 0px -15px;
    }
}
.servicesColumn {
    flex: 0 1 33.333%;
}
@media (min-width: 670px) {
    .servicesColumn{
        padding: 0px 15px;
    }
}
@media(max-width:992px){
    .servicesColumn{
        flex: 0 1 50%;
    }
    .servicesColumn:not(:last-child){
        margin: 0px 0px 30px 0px;
    }
    .servicesColumn:last-child{
        flex: 1 1 100%;
    }
}
.servicesItem {
    height: 100%;
    box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.5);
    background-color: #fff;
    padding: 35px;
}
@media(max-width: 479px){
    .servicesItem{
        padding: 25px;
    }
}
/*.itemService {

}*/
.itemServiceGreen{
    background-color: #0D5C63;
}
.itemServiceGreen .itemServiceTitle{
    color: #fff;
}
.itemServiceGreen .itemServiceText{
    color: #fff;
}
.itemService > *:not(:last-child){
    margin: 0px 0px 10px 0px;
}
/*.itemServiceIcon {
}*/
.itemServiceTitle {
    font-weight: 700;
    font-size: 24px;
    line-height: 133%;
}
.itemServiceText {
    color: #737373;
    line-height: 142%;
}
/*===========FOOTER==================================================================================================================*/
.footer{
    color: #000;
}